<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>stateside</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")


    <!-- Vendor CSS BUNDLE-->
    <link href="~/Content/admin.assets/css/vendor/all.css" rel="stylesheet">

    <!-- APP CSS BUNDLE [css/app/app.css]-->
    <link href="~/Content/admin.assets/css/app/app.css" rel="stylesheet">

    <!-- CUSTOM CSS-->
    <link href="~/Content/admin.assets/css/app/custom.css" rel="stylesheet">

    <style>
    </style>



</head>
<body>
    <div id="wrapper">
        <div id="header">
            <header>
                <div>
                    <div class="row headerRow">
                        <div class="col-xs-3">
                            <a href="/">
                                <img src="~/Content/admin.assets/images/logos_dogtags_e.png" alt="stateside"
                                     class="img-responsive stateside-logo" style="margin: 10px" />
                            </a>
                        </div>
                        <div class="col-xs-push-5 col-xs-3 header-login-verticlecenter">
                            <a href="/Home/login" class="text-uppercase loginAnchor pull-right"> login</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div id="content">
            <main>
                @RenderBody()
            </main>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    

    <!-- Inline Script for colors and config objects; used by various external scripts; -->
    <script>
        var colors = {
            "danger-color": "#e74c3c",
            "success-color": "#81b53e",
            "warning-color": "#f0ad4e",
            "inverse-color": "#2c3e50",
            "info-color": "#2d7cb5",
            "default-color": "#6e7882",
            "default-light-color": "#cfd9db",
            "purple-color": "#9D8AC7",
            "mustard-color": "#d4d171",
            "lightred-color": "#e15258",
            "body-bg": "#f6f6f6"
        };
        var config = {
            theme: "admin",
            skins: {
                "default": {
                    "primary-color": "#3498db"
                }
            }
        };
    </script>

    <!-- Vendor Scripts Bundle -->
    @*<script src="~/Content/admin.assets/js/vendor/all.js"></script>*@
    <script src="~/Content/admin.assets/js/vendor/core/handlebars.js"></script>

    <!-- App Scripts Bundle -->
    @*<script src="Content/admin.assets/js/app/app.js"></script>*@

    @RenderSection("scripts", required: false)


</body>
</html>
